version: "3.1"

services:
  db:
    container_name: db
    image: mysql
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password --init-file /docker-entrypoint-initdb.d/init.sql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: gestion_usuarios
    volumes:
      - db-data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    networks:
      - gestion

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - gestion

  create:
    container_name: create
    build:
      context: ./crud
      dockerfile: Dockerfile-create
    ports:
      - "5000:5000"
    links:
      - db
    networks:
      - gestion
  read:
    container_name: read
    build:
      context: ./crud
      dockerfile: Dockerfile-read
    ports:
      - "5001:5001"
    links:
      - db
    networks:
      - gestion

  update:
    container_name: update
    build:
      context: ./crud
      dockerfile: Dockerfile-update
    ports:
      - "5002:5002"
    links:
      - db
    networks:
      - gestion

  delete:
    container_name: delete
    build:
      context: ./crud
      dockerfile: Dockerfile-delete
    ports:
      - "5003:5003"
    links:
      - db
    networks:
      - gestion

volumes:
  db-data:

networks:
  gestion:
    driver: bridge
