version: "3.1"

services:
  db:
    container_name: db
    image: mysql
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: gestion_usuarios
    networks:
      - red-gestion

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  networks:
    red-gestion:
      driver: bridge
